<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-auto">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Hürkuş</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Anasayfa</a>
              </li>
              {% for link in links  %}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.get_url }}">{{ link.name }}</a>
              </li>
              {% endfor %}
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.username }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'order_history' %}">Profil</a></li>
                    <li><a class="dropdown-item" href="{% url 'cart_detail' %}">Sepetim</a></li>
                    <li><a class="dropdown-item" href="{% url 'signout' %}">Çıkış Yap</a></li>
                  </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">Giriş Yap</a>
              </li>

              {% endif %}
            </ul>
          </div>
        </div>
      </nav>